@import '~bootstrap/scss/bootstrap';

$app-radius: 15px;
$app-vertical-gap: 15px;
$app-alpha: 0.6;
$app-color-black: #1A1A1A;

.bg-dark-transparent{
  background-color: rgba(0, 0, 0, $app-alpha + 0.2);
}

.navbar-logo {
  width: 65%;
}

.jumbotron-homepage {
  background-size: cover;
  margin-bottom: 0;
  .container {
    margin-top: 68px;
    background-color: rgba(0, 0, 0, $app-alpha);
    border-radius: $app-radius;
    .btn {
      margin-bottom: $app-vertical-gap;
    }
  }
}

.jumbotron-dark {
  background-color: $app-color-black;
}
