// custom app variables
$app-radius: 10px;
$app-vertical-gap: 15px;
$app-alpha: 0.6;
$app-alpha-inversed: 0.4;
$app-color-black: #1A1A1A;
$app-color-light: #F1F3F4;
$app-color-grey: #8D897F;
$app-color-green: #71BC52;
$app-color-red: #DF1333;
$app-color-blue-light: #88CCD1;
$app-color-blue: #2C6CA4;
$app-color-ocher: #B58255;
$app-color-purple: #895E95;
$app-color-yellow: #E1DF56;
$app-color-warning-light: #FDBF2F;
$app-color-footer: #363941;

// custom bootstrap variables before import (mandatory)
$breadcrumb-bg: transparent;
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 0;
$breadcrumb-border-radius: 0;
$breadcrumb-active-color: $app-color-light;
$breadcrumb-divider-color: $app-color-grey;
$breadcrumb-divider: quote(">");
$enable-responsive-font-sizes: true;

@import '~bootstrap/scss/bootstrap';

.text-decoration-none:hover {
  text-decoration: none !important;
}

.text-black {
  color: $app-color-black;
}

.bg-dark-transparent {
  background-color: rgba(0, 0, 0, $app-alpha + 0.2);
}

.navbar-logo {
  width: 65%;
}

.footer-logo {
  width: 75%;
}

@include media-breakpoint-up(sm) {
  .footer-logo {
    width: 50%;
  }
}

@include media-breakpoint-up(md) {
  .footer-logo {
    width: 25%;
  }
}

.nav-link-ticket {
  margin-left: 5px;
  color: $app-color-warning-light !important;
}

.active {
  .nav-link-ticket {
    color: $app-color-light !important;
    background-color: $app-color-warning-light !important;
  }
}

.btn-outline-warning:hover {
  color: $app-color-light !important;
}

.jumbotron-homepage {
  background-size: cover;
  margin-bottom: 0;
  .container {
    margin-top: 68px;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, $app-alpha);
    .btn {
      margin-bottom: $app-vertical-gap;
    }
  }
  @include media-breakpoint-up(sm) {
    .container {
      border-radius: $app-radius;
    }
  }
}

.jumbotron-homepage-secondary {
  background-size: cover;
  margin-bottom: 0;
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, $app-alpha);
  }
  @include media-breakpoint-up(sm) {
    .container {
      border-radius: $app-radius;
    }
  }
}

.jumbotron-dark {
  background-color: $app-color-black;
  margin-bottom: 0;
}

.jumbotron-light {
  background-color: $app-color-light;
  margin-bottom: 0;
}

.breadcrumb-anchor {
  color: $app-color-grey;
  &:hover {
    color: $app-color-grey;
  }
}

// anchors
a {
  div.card {
    div.card-body {
      h5.card-title {
        color: $app-color-black;
        &:hover {
          color: $app-color-black;
          text-decoration: none;
        }
      }
    }
  }
}

h5.anchor {
  color: $app-color-black;
  &:hover {
    color: $app-color-black;
    text-decoration: none;
  }
}

.dark-footer {
  background-color: $app-color-footer;
}

.w-20 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20% !important;
  flex: 0 0 20% !important;
  max-width: 20%;
}
