{% extends "frontend/base.html.twig" %}

{% block body %}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/nightlife-neon-techno.png') }}');">
        <div class="container pt-2 pb-1">
            <h1 class="display-6 text-white">{{ category.name | title }}</h1>
        </div>
    </div>
    {# Activities section #}
    <div class="jumbotron jumbotron-fluid jumbotron-light">
        <div class="container">
            <div class="row">
                {% include "frontend/includes/event_activity_cards.html.twig" with {activities: activities} %}
            </div>
        </div>
    </div>
{% endblock %}
