{% extends "frontend/base.html.twig" %}

{% block body %}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/creative-light-abstract-glowing-texture.png') }}');">
        <div class="container pt-2 pb-1">
            <h1 class="display-6 text-white">{{ 'front.menu.contact' | trans | title }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid jumbotron-light">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    {{ form(form) }}
                    {#<div class="alert alert-warning mb-0" role="alert">#}
                        {#<i class="fa exclamation-triangle"></i> {{ 'front.events.empty_warning' | trans }}#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
