{% extends "frontend/base.html.twig" %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {#<img class="mb-2" src="{{ asset('build/vag_experience.png') }}" alt="VAGexperience">#}
            <h1 class="display-4"><strong>VAG</strong>experience</h1>
            <p class="lead">a true digital arts & videogames cultural event</p>
            <hr class="my-4">
            <p>Don't miss this great opportunity to discover more about the digital entertainment industry!</p>
            <a class="btn btn-warning" href="{{ path('front_tickets') }}" role="button">Buy tickets</a>
        </div>
    </div>
{% endblock %}
