{% extends "frontend/base.html.twig" %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img class="mb-2" src="{{ asset('build/vag_experience.png') }}" alt="VAGexperience">
            <h1 class="display-4 sr-only"><strong>VAG</strong>experience</h1>
            <p class="lead">a true digital arts & videogames cultural event</p>
        </div>
    </div>
{% endblock %}
