{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }} · Radio{% endblock %}

{% block body %}
    {# Main heading sections test #}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/creative-light-abstract-glowing-texture.png') }}');">
        <div class="container pt-2 pb-1">
            <h1 class="display-6 text-white">Radio</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>RADIO</h5>
                    <script src="http://descargas.profesionalhosting.com/generador-reproductores/reproductores/movil/jquery.js"></script>
                    <script src="http://descargas.profesionalhosting.com/generador-reproductores/reproductores/movil/mediaelement-and-player.min.js"></script>
                    <link rel="stylesheet" href="http://descargas.profesionalhosting.com/generador-reproductores/reproductores/movil/mediaelementplayer.min.css" />
                    <audio id="player" src="http://radioserver9219979716.profesionalhosting.com:8004/;stream" type="audio/mp3" controls="controls">
                    </audio>
                    <script>
                        // JavaScript object for later use
                        var player = new MediaElementPlayer('#player',{
                            // width of audio player
                            audioWidth: 238,
                            // height of audio player
                            audioHeight: 30,
                            // initial volume when the player starts
                            startVolume: 0.8,
                            // enables Flash and Silverlight to resize to content size
                            enableAutosize: true,
                            // the order of controls you want on the control bar (and other plugins below)
                            features: ['playpause','progress','current','volume'],
                            // force iPad's native controls
                            iPadUseNativeControls: false,
                            // force iPhone's native controls
                            iPhoneUseNativeControls: false,
                            // force Android's native controls
                            AndroidUseNativeControls: false,
                            // turns keyboard support on and off for this instance
                            enableKeyboard: true,
                            // when this player starts, it will pause other players
                            pauseOtherPlayers: true,
                            // array of keyboard commands
                            keyActions: []
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            player.play()
        });
    </script>
{% endblock %}
